@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
    
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat ;

    
}

iframe#tela{
    position: relative;
    width: 269px;
    height: 471px;

    top: 80px;
    left: 22px;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px solid #f5f5f57a;
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.63);
}
