@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
    
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat ;

    
}

iframe#tela{
    position: relative;
    width: 269px;
    height: 471px;

    top: 80px;
    left: 22px;
}

section#redes-sociais{
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-30%, -15%);

    background-color: violet;

    height: 300px;
    width: 100px;
}
